rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAuth() {
      return request.auth != null;
    }

    // AUTHENTICATION
    // Only the user can r/w their own user document
    match /users/{userId} {
      allow read, write: if isAuth() && request.auth.uid == userId;
    }

    // Authenticated users can see the list of drivers
    match /drivers/{document=**} {
      allow get, list: if isAuth();
    }
    
    // Clients can only read bookings where they are the client
    match /bookings/{bookingId} {
      allow get, list: if isAuth() && request.auth.uid == resource.data.clientId;
    }

    // PUBLIC
    // Anyone can read services
    match /services/{document=**} {
      allow get, list: if true;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
